.main-footer .media {
  width: 20px;
  margin-right: var(--gap-smaller);
  margin-bottom: var(--gap-small);
}

.main-footer > .copy-right {
  border-top: 2px dashed var(--color-second);
  padding-top: var(--gap-small);
  padding-bottom: var(--gap-small);
}