.main-container {
  height: 80vh;
  display: none;
}

.main-container.-active {
  display: block;
}

.main-container.-active.-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container.-error404  {
  background: url(../../img/404.svg) no-repeat center;
  background-size: 800px;
}

.main-container.-error404 > .main-title {
  margin-bottom: var(--gap-small);
}

.main-container.-error404 > .main-subtitle {
  margin-bottom: var(--gap-big)
}

.main-container.-error404 > .primary-button {
  margin-bottom: var(--gap-small);
  width: 300px;
}

.main-container.-win {
  background: url(../../img/congrats.svg) no-repeat center 23vh;
  background-size: 40vw;
}

.main-container.-win > .main-title {
  font-size: 5.5em;
  margin-bottom: var(--gap-medium);
}